/* XL */
@media (max-width: 1399px) {
    .container{
        max-width: 1140px;
    }
}
/* LG */
@media (max-width: 1199px) {
    .container{
        max-width: 991px;
    }
    .w-lg-5{
        width: 20%;
    }
}
/* MD */
@media (max-width: 991px) {
    .container{
        max-width: 720px;
    }
}
/* SM */
@media (max-width: 767px) {
    .container{
        max-width: 540px;
    }
}
/* XS */
@media (max-width: 575px) {
}